# .env fajl se ne komituje jer sadrzi osetljive podatke. 
# Ovaj fajl je primer kako .env fajl treba da izgleda.

PORT = 3000
FRONTEND_URL = http://localhost:8100
DATABASE_URL= "postgresql://USER:PASSWORD@localhost:5432/smart_parking?schema=public"
JWT_ACCESS_SECRET = TVOJ_DUGACAK_NASUMICNI_SECRET
JWT_ACCESS_EXPIRES_IN_SECONDS = 900
JWT_REFRESH_SECRET = TVOJ_DRUGI_DUGACAK_NASUMICNI_SECRET
JWT_REFRESH_EXPIRES_IN_SECONDS = 2592000
HARDWARE_MODE = SIMULATED | RASPBERRY_PI