# .env fajl se ne komituje jer sadrzi osetljive podatke. 
# Ovaj fajl je primer kako .env fajl treba da izgleda.

PORT = 3000
FRONTEND_URL = http://localhost:8100
DATABASE_URL= "postgresql://USER:PASSWORD@localhost:5432/smart_parking?schema=public"