# Node dependencies
node_modules/

# Build output
dist/

# Angular cache
.angular/

# Test coverage
coverage/

# Environment promenljive
.env

# Log fajlovi
*.log
/src/generated/prisma

# Prisma generisani klijent
backend/src/generated/prisma/

# TypeScript build info fajlovi
*.tsbuildinfo

# AI agent alati
.agents/
.claude/
.windsurf/
skills-lock.json