<ion-header>
  <ion-toolbar>
    <ion-title>Smart Parking</ion-title>
    <ion-buttons slot="end">
      <app-logout-button />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="home-hero">
    <p class="eyebrow">Pametan parking</p>
    <h2>Dobrodošli</h2>

    @if (authSession.user()) {
      <div class="profile-summary">
        <div>
          <span>Email</span>
          <strong>{{ authSession.user()!.email }}</strong>
        </div>
        <div>
          <span>Uloga</span>
          <strong>{{ authSession.user()!.role }}</strong>
        </div>
      </div>
    }
  </section>

  <section class="home-actions">
    <ion-button expand="block" routerLink="/parking-map">
      Mapa parkinga
    </ion-button>
    <ion-button expand="block" routerLink="/parking-lots">
      Pregled parkinga
    </ion-button>
    <ion-button expand="block" routerLink="/my-reservations">
      Moje rezervacije
    </ion-button>
    <ion-button expand="block" routerLink="/parking-events/my">
      Istorija pristupa
    </ion-button>

    @if (
      authSession.user()?.role === 'OPERATOR' ||
      authSession.user()?.role === 'ADMIN'
    ) {
      <ion-button expand="block" routerLink="/operator">
        Operaterski panel
      </ion-button>
    }

    @if (authSession.user()?.role === 'ADMIN') {
      <ion-button expand="block" routerLink="/admin">
        Administracija
      </ion-button>
    }
  </section>
</ion-content>
