<ion-header>
  <ion-toolbar>
    <ion-title>Smart Parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Dobrodošli</h2>

  @if (authSession.user()) {
  <p>
    Prijavljeni ste kao:
    <strong>{{ authSession.user()!.email }}</strong>
  </p>

  <p>
    Uloga:
    <strong>{{ authSession.user()!.role }}</strong>
  </p>
  }

  <ion-button routerLink="/parking-lots">
    Pregled parkinga
  </ion-button>

  @if (authSession.user()?.role === 'ADMIN') {
  <ion-button routerLink="/admin">
    Administracija
  </ion-button>
  }
</ion-content>