<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart parking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Smart parking</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Dobro došli u Smart Parking</strong>
    <p>Aplikacija za pregled i rezervaciju parking mesta.<a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
