<ion-header [translucent]="true">
  <ion-toolbar>
    <app-back-button defaultHref="/home" />
    <ion-title>Prijava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Prijava
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <ion-input label="Email" type="email" placeholder="Unesite email adresu" formControlName="email" [errorText]="
        loginForm.controls.email.hasError('required')
          ? 'Email je obavezan.'
          : loginForm.controls.email.hasError('email')
            ? 'Unesite ispravnu email adresu.'
            : ''
      ">
    </ion-input>

    <ion-input label="Lozinka" type="password" placeholder="Unesite lozinku" formControlName="password" [errorText]="
        loginForm.controls.password.hasError('required')
          ? 'Lozinka je obavezna.'
          : ''
      ">
    </ion-input>

    <ion-button type="submit" [disabled]="loginForm.invalid || isSubmitting">
      @if (isSubmitting) {
      Prijava...
      } @else {
      Prijavi se
      }
    </ion-button>

  </form>

  <p>
    Nemate nalog?
    <a routerLink="/register">
      Registrujte se
    </a>
  </p>

  @if (serverError) {
  <p class="server-error">
    {{ serverError }}
  </p>
  }

  @if (loginSuccess) {
  <p class="success-message">
    {{ loginSuccess }}
  </p>
  }

</ion-content>