<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Prijava</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prijava</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-input
  label="Email"
  type="email"
  placeholder="Unesite email adresu">
  </ion-input>
  <ion-input
    label="Lozinka"
    type="password"
    placeholder="Unesite lozinku">
  </ion-input>
  <ion-button>Prijavi se</ion-button>
  <p>
    Nemate nalog? <a routerLink="/register">Registrujte se</a>
  </p>
</ion-content>
