<ion-header>
  <ion-toolbar>
    <ion-title>
      Parking mesta
    </ion-title>

    <ion-buttons slot="end">
      <app-logout-button />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="navigation">
    <ion-button
      fill="outline"
      routerLink="/parking-map"
    >
      Nazad na mapu
    </ion-button>

    <ion-button
      fill="outline"
      routerLink="/parking-lots"
    >
      Svi parkinzi
    </ion-button>
  </div>

  @if (serverError()) {
  <p>
    {{ serverError() }}
  </p>
  } @if (isLoading()) {
  <p>
    Učitavanje...
  </p>
  } @else if (parkingLot()) {
  <h2>
    {{ parkingLot()!.name }}
  </h2>

  <p>
    {{ parkingLot()!.address }}
  </p>

  @if (parkingLot()!.description) {
  <p>
    {{ parkingLot()!.description }}
  </p>
  }

  <h3>
    Trenutno stanje
  </h3>

  <div class="parking-summary">
    <div>
      Slobodno:
      <strong>
        {{ freeCount() }}
      </strong>
    </div>

    <div>
      Rezervisano:
      <strong>
        {{ reservedCount() }}
      </strong>
    </div>

    <div>
      Zauzeto:
      <strong>
        {{ occupiedCount() }}
      </strong>
    </div>

    <div>
      Nepoznato:
      <strong>
        {{ unknownCount() }}
      </strong>
    </div>
  </div>

  <h3>
    Parking mesta
  </h3>

  <app-parking-space-grid [parkingSpaces]="parkingSpaces()">
  </app-parking-space-grid>
  }
</ion-content>
