<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registracija</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input
    label="Ime"
    type="text"
    placeholder="Unesite ime">
  </ion-input>
  <ion-input
    label="Prezime"
    type="text"
    placeholder="Unesite prezime">
  </ion-input>
  <ion-input
    label="Email"
    type="email"
    placeholder="Unesite email adresu">
  </ion-input>
  <ion-input
    label="Lozinka"
    type="password"
    placeholder="Unesite lozinku">
  </ion-input>
  <ion-input
    label="Potvrda lozinke"
    type="password"
    placeholder="Potvrdite lozinku">
  </ion-input>
  <ion-button>Registrujte se</ion-button>
  <p>
  Već imate nalog?
  <a routerLink="/login">Prijavite se</a>
  </p>
</ion-content>
