form,
ion-content > p {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

form {
  margin-top: 28px;
}

.server-error {
  color: var(--ion-color-danger);
}

.success-message {
  color: var(--ion-color-success);
}
